<html>
  <head>
    <title>Welcome to Ansible!</title>
  </head>
  <body>
  <h1>nginx, configured by Ansible</h1>
  <p>If you can see this, Ansible successfully installed nginx.</p>

  <p>Running on {{ inventory_hostname }}, address {{ ansible_host }}</p>

  <p>All IP addresses:</p>
  {% for ip in ansible_all_ipv4_addresses %}
  <p>{{ ip }}</p>
  {% endfor %}


  {% if inventory_hostname == "target1" %}
  <h1>Pozdrawiam serdecznie</h1>
  {% elif inventory_hostname == "target3" %}
  <h1>Nie pozdrawiam wcale</h1>
  {% endif %}

  </body>
</html>